<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>{{sitename}} - {{year}}</title>
	<meta name='description' content='{{description}}'>
	<meta name='' content=''>
	<meta name=viewport content='width=device-width, initial-scale=1'>
	<!-- <link rel='stylesheet' type='text/css' href='css/styles.css?v=1.0'> -->
</head>
<body>
	{{> header}}

	Welcome to {{sitename}}
	<!-- <script type='text/javascript' src='js/scripts.js'></script> -->
	{{> footer}}
	
	<footer>Copyright @ {{year}}</footer>
</body>
</html>